@mixin d-flex(){
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@mixin d-inline-flex(){
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

@mixin flex-row(){
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

@mixin flex-column(){
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

@mixin flex-row-reverse(){
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}
    
@mixin flex-column-reverse(){
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

@mixin flex-wrap(){
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
    
@mixin flex-nowrap(){
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

@mixin flex-wrap-reverse(){
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}

@mixin justify-content-start(){
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

@mixin justify-content-end(){
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

@mixin justify-content-center(){
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

@mixin justify-content-between(){
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

@mixin justify-content-around(){
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

@mixin align-items-start(){
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

@mixin align-items-end(){
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

@mixin align-items-center(){
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

@mixin align-items-baseline(){
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

@mixin align-items-stretch(){
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}