
// ---- Dimensions

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

// ---- Dimensions MAX

$max-xl: 1199px;
$max-lg: 991px;
$max-md: 767px;
$max-sm: 575px;

// ---- Colors

$black: #000000;
$white: #ffffff;